<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{url_for('user', nickname = house.author.nickname)}}"><img src="{{house.author.avatar(70)}}" /></a></td>
        <td>
            {% autoescape false %}
            <p>{{ _('%(nickname)s said %(when)s:', nickname = '<a href="%s">%s</a>' % (url_for('user', nickname = house.author.nickname), house.author.nickname), when = momentjs(house.timestamp).fromNow()) }}</p>
            {% endautoescape %}
            <p><strong><span id="house{{house.id}}">{{house.body}}</span></strong></p>
            {% if house.language != None and house.language != '' and house.language != g.locale %}
            <div>
                <span id="translation{{house.id}}">
                    <a href="javascript:translate('{{house.language}}', '{{g.locale}}', '#house{{house.id}}', '#translation{{house.id}}', '#loading{{house.id}}');">{{ _('Translate') }}</a>
                </span>
                <img id="loading{{house.id}}" style="display: none" src="/static/img/loading.gif">
            </div>
            {% endif %}
            {% if house.author.id == g.user.id %}
            <div><a href="{{ url_for('delete', id = house.id) }}">{{ _('Delete') }}</a></div>
            {% endif %}
        </td>
    </tr>
</table>
